[submodule "dependencies/RSDKv5"]
	path = dependencies/RSDKv5
	url = https://github.com/Rubberduckycooly/RSDKv5-Decompilation
	branch = modapi-v3
[submodule "dependencies/RSDKv5-GameAPI"]
	path = dependencies/RSDKv5-GameAPI
	url = https://github.com/RSDKModding/RSDKv5-GameAPI
	branch = modapi-v3
